.form{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:3rem;
    background-color:rgb(240, 240, 240);
    
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  input[type=submit] {
    width: 33%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px 33%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }