.header{
    background: rgba(0, 24, 92);
    height: 80px;
    display: flex;
    justify-content: space-between;
}

/* logo */
.logo{
    width: 300px;
    margin: 24px;
}

.logo svg{
    fill:white;
}
.logo svg:hover{
    fill:#37d33e;
}

.header>h1{
    font-family: 'slim_joeregular';
    margin-bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.nav{
    display: flex;
    margin: 0;
    padding: 0;
}
.nav .bn a{
    padding: 10px 20px;
    border-radius: 30px;
    background: white;
    color: darkblue;
}
a{
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
}

a:hover{
    color: #37d33e;
}

.nav>li{
    font-family: 'big_johnregular';
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem;
    padding: 0;
}

@media(max-width:1024px){
.header{
    height: auto;
    align-items: center;
    flex-direction: column;
}
.nav{
    
    justify-content: center;
    width: 90%;
    margin: .8rem auto;
}
.nav>li{
    font-size: 12px;
    margin: .6em 1rem;
    padding: 0;
}
}

@media(max-width:414px){
    .nav{
        display: flex;
        flex-wrap: wrap;
        margin: .2rem auto;
    }
    .nav>li{
        font-size: 11px;
        margin: .6em .5rem;
        padding: 0;
    }
    }